<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calendar Functionality</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'frontend/css/CalendarStyles.css' %}" />
</head>
<body>
  <div id="container">
    <header class="header">
      <h1>Calendar</h1>
      <nav class="menu">
        <a href="{% url 'logout' %}" class="menu-item">Log-out</a>
        <a href="Registration" class="menu-item">Register</a>
        <a href="Homepage" class="menu-item">Homepage</a>
      </nav>
    </header>
    <div id="header">
      <button id="backButton">❮</button>
      <div id="monthDisplay"></div>
      <button id="nextButton">❯</button>
    </div>
    <div id="weekdays">
      <div>Sun</div>
      <div>Mon</div>
      <div>Tue</div>
      <div>Wed</div>
      <div>Thu</div>
      <div>Fri</div>
      <div>Sat</div>
    </div>
    <div id="calendar"></div>
  </div>

  <div id="newEventModal">
    <h2>New Event</h2>
    <label for="eventType">Event Type:</label>
    <select id="eventType">
      <option value="0">Chore</option>
      <option value="1">Visitor</option>
      <option value="2">Reservation</option>
    </select>
    <label for="eventTitleInput">Event Title</label>
    <input id="eventTitleInput" placeholder="Event Title" />
    <label for="roomieIdInput">Roomie ID</label>
    <input id="roomieIdInput" placeholder="Roomie ID" />
    <label for="eventPersonInput">Person Name</label>
    <input id="eventPersonInput" placeholder="Person Name" />
    <label for="startTimeInput">Start Time</label>
    <input id="startTimeInput" type="datetime-local" />
    <label for="endTimeInput">End Time</label>
    <input id="endTimeInput" type="datetime-local" />
    <button id="saveButton">Save</button>
    <button id="cancelButton">Cancel</button>
  </div>

  <div id="deleteEventModal">
    <h2>Event</h2>
    <p id="eventText"></p>
    <button id="deleteButton">Delete</button>
    <button id="closeButton">Close</button>
  </div>

  <div id="modalBackDrop"></div>
  <script src="{% static 'frontend/js/CalendarScript.js' %}"></script>
</body>
</html>

