<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'frontend/css/LoginStyle.css' %}" />
  </head>
  <body>
    <div class="login-form">
      <h2>Login</h2>
      <form method="post" action="{% url 'Login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log In</button>
      </form>
      <div class="register-link">
        <p>Don't have an account? <a href="{% url 'Registration' %}">Register here.</a></p>
      </div>
    </div>
  </body>
</html>
