<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Roommate Validation</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'frontend/css/RegistrationStyle.css' %}" />
</head>
<body>
    <div class="login-form">
        <h2>Roommate Validation</h2>
        <form method="post" action="{% url 'RoomieVal' %}">
            {% csrf_token %}
            {{ formset.management_form }}  <!-- Include the management form for formsets -->
            {% for form in formset %}
                <div>
                    {{ form.roommate_id.label_tag }} {{ form.roommate_id }}
                    {{ form.roommate_id.errors }}
                </div>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
